POSTGRES_DB=SalesOrder
POSTGRES_USER=postgres
POSTGRES_PASSWORD=P@st1933

API_PORT=8080
ASPNETCORE_ENVIRONMENT=Development

CONNECTION_STRING=Host=db;Port=5432;Database=SalesOrder;Username=postgres;Password=P@st1933
